extends ../../layout/default.pug
include ../../mixins/selectTree.pug

block main 

  - if(messages.success)
      div(
        class="alert alert-success"
        data-time=3000
        show-alert
      ) #{messages.success}

  h1=title

  form(
    action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
    id="form-create-products"
    method="POST"
    enctype="multipart/form-data"
  ) 
    div.form-group
      label(for="title") Tiêu đề
      input(
        type="text"
        id="title"
        name="title"
        class="form-control"
        required
        value=product.title
      ) 
      div.form-group
      label(for="product_category_id") Danh mục
      //- input(
      //-   type="text"
      //-   id="parent_Id"
      //-   name="parent_Id"
      //-   class="form-control"
      //- )
      select(
        name="product_category_id"
        id="product_category_id"
        class="form-control"
      ) 
        option(value="") -- Chọn danh mục cha --
        if(newRecords) 
          +selectTree(newRecords, 1, product.product_category_id)
    div.form-group
      label(for="description") Mô tả
      textarea(
        id="description"
        name="description"
        class="form-control"
        rows=5
        value=product.description
      ) #{product.description}
    div.form-group
      label(for="price") Giá - $
      input(
        type="number"
        class="form-control"
        id="price"
        name="price"
        value=product.price
      ) 
    div.form-group
      label(for="discountPercentage") Giảm giá - %
      input(
        type="number"
        id="discountPercentage"
        name="discountPercentage"
        class="form-control"
        value=product.discountPercentage
      )
    div.form-group
      label(for="stock") Số lượng
      input(
        type="number"
        id="stock"
        name="stock"
        class="form-control"
        value=product.stock
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Ảnh
      input(
        type="file"
        id="thumbnail"
        name="thumbnail"
        class="form-control-file"
        accept="image/*"
        upload-image-input
      ) 
      img(src=`${product.thumbnail}`  upload-image-preview)
    div.from-group
      label(for="position") Vị trí
      input(
        type="text"
        id="position"
        name="position"
        class="form-control"
        placeholder="Tăng tự động"
        value=product.position
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="active"
        name="status"
        value="active"
        checked=product.status === 'active' ? true : false
      )
      label(for="active") Active 
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="inactive"
        name="status"
        value="inactive"
        checked=product.status === 'inactive' ? true : false
      )
      label(for="inactive") Inactive 
    div.form-group
      button(
        type="submit"
        class="btn btn-primary"
      ) Sửa sản phẩm

  script(src="/js/admin/uploadImage.js") 
  script(src="/js/admin/alert.js")  
  