extends ../../layout/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug

block main 
  h1 Trang danh sách sản phẩm

  .card.mb-3 
    .card-header Bộ lọc và tìm kiếm 
    .card-body 
      .row 
        .col-6 
          +filterStatus(filterStatus)
        .col-6 
          +search()


  .card.mb-3 
    .card-header Bộ lọc và tìm kiếm 
    .card-body 
      table.table.table-hover 
        thead 
          tr 
            th(scope='col') STT 
            th(scope='col') Hình ảnh
            th(scope='col') Tiêu đề
            th(scope='col') Giá 
            th(scope='col') Trạng thái 
            th(scope='col') Hành động 

        tbody 
          each item, index in products
            tr 
              th(scope='row') #{index + 1}
              td  
                img(src=item.thumbnail, alt="")
              td=item.title
              td=item.price
              td 
                if(item.status == "active")
                  a(
                    href="javascript:;" 
                    btn-change-status
                    itemStatus=item.status 
                    itemId=item.id
                    class='badge badge-success'
                  ) Hoạt động
                else 
                  a(
                    href="javascript:;" 
                    btn-change-status
                    itemStatus=item.status 
                    itemId=item.id
                    class='badge badge-danger'
                  ) Dừng hoạt động
              td  
                button(class='btn btn-warning btn-sm') Sửa
                button(class='btn btn-danger btn-sm') Xoá
    .card-footer
      nav(aria-label="Page navigation example")
        ul.pagination 
          li.page-item 
            button(class="page-link" page-pagination=pagination.currentPage-1) Previous 
          - for(let i = 1; i <= pagination.totalPage; i ++)
            li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`) 
              button(class="page-link" page-pagination=i) #{i}
          li.page-item 
            button(class="page-link" page-pagination=pagination.currentPage+1) Next

  form(
    action=""
    method="GET"
    id = 'form-change-status'
    data-path = `${prefixAdmin}/products/change-status`
  ) 

  script(src="/js/admin/changeStatus.js") 