extends ../../layout/default.pug
include ../../mixins/selectTree.pug

block main 

  h1=title

  form(
    action=`${prefixAdmin}/products-category/edit/${productCategory.id}?_method=PATCH`
    id="form-create-products-cat"
    method="POST"
    enctype="multipart/form-data"
  ) 
    div.form-group
      label(for="title") Tiêu đề
      input(
        type="text"
        id="title"
        name="title"
        class="form-control"
        required
        value=productCategory.title
      ) 

    div.form-group
      label(for="parent_Id") Danh mục cha
      //- input(
      //-   type="text"
      //-   id="parent_Id"
      //-   name="parent_Id"
      //-   class="form-control"
      //- )
      select(
        name="parent_Id"
        id="parent_Id"
        class="form-control"
      ) 
        option(value="") -- Chọn danh mục cha --
        if(newRecords) 
          +selectTree(newRecords, 1, productCategory.parent_Id)

    div.form-group
      label(for="description") Mô tả
      textarea(
        id="description"
        name="description"
        class="form-control"
        rows=5
      ) #{productCategory.description}
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Ảnh
      input(
        type="file"
        id="thumbnail"
        name="thumbnail"
        class="form-control-file"
        accept="image/*"
        upload-image-input
      ) 
      img(src=`${productCategory.thumbnail}`  upload-image-preview)
    div.from-group
      label(for="position") Vị trí
      input(
        type="text"
        id="position"
        name="position"
        class="form-control"
        placeholder="Tăng tự động"
        value=productCategory.position
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="active"
        name="status"
        value="active"
        checked=productCategory.status === 'active' ? true : false
      )
      label(for="active") Active 
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="inactive"
        name="status"
        value="inactive"
        checked=productCategory.status === 'inactive' ? true : false
      )
      label(for="inactive") Inactive 
    div.form-group
      button(
        type="submit"
        class="btn btn-primary"
      ) Sửa sản phẩm

  script(src="/js/admin/uploadImage.js") 
  script(src="/js/admin/alert.js")  
  