extends ../../layout/default.pug


block main 
  h1= product.title

  if(product.price) 
    p Price: #{product.price}$

  if(product.discountPercentage)
    p Discount: #{product.discountPercentage}%
  
  if(product.stock)
    p Stock: #{product.stock}

  if(product.thumbnail) 
    img(src=product.thumbnail, alt=product.titlem style="width: 150px")

  if(product.description)
    p Description: #{product.description}