extends ../../layout/default.pug
include ../../mixins/box-header.pug

block main 
  .container-fluid
    .row  
      .col-12 
        +box-header("Products page")
    
    .row 
      each item in newProducts
        .col-4
          .card
            img(src=item.thumbnail, alt="" class="card-img-top")
            .card-body 
              h3.card-title #{item.title}
              .card-price-new.text-success #{item.newPrice}$
              .card-price-old.text-danger #{item.price}$
              span.card-discount.text-white.bg-danger #{item.discountPercentage}%