extend ../../layout/default.pug

block main 
  if (role.permissions.includes('permission_edit'))
    form(
      action=`${prefixAdmin}/role/edit/${record.id}?_method=PATCH`
      method="POST"
      id="form-edit-product"
    ) 
      .row 
        .col-10 
          h1.title #{title} 
        .col-2.text-end
          button.btn.btn-success.p-2.pr-3.pl-3(type="submit" style="margin: 20px 0px")
            <i class="fa-solid fa-check pr-2"></i>Edit Role
      .container-fluid.pt-2
        .row
          .col-12
            // Card general information - start
            .card.shadow-css.p-3.mb-5
              .card-body
                h3.card-title.pb-3 General Information
                .row
                  label.form-label(for='') Title Role
                  input.mb-4.form-control(type='' id='' placeholder='Input title role ...' name="title" value=record.title)
                  label.form-label(for='') Description Role
                  textarea.form-control(id='description' rows='4' name="description")=record.description
  else 
    h3.notFound Bạn không có quyền phân quyền