extends ../../layout/default.pug

block main 


  - if (messages.successDelete)
    div(
      class="notifications" 
      data-status="warning" 
      data-mess=messages.successDelete[0]
    )

  - if (message.successEdit.length > 0)
    div(
      class="notifications" 
      data-status="success" 
      data-mess=message.successEdit[0]
    )

  - if (message.successCreate)
    div(
      class="notifications" 
      data-status="success" 
      data-mess=message.successCreate[0]
    )
    


  h1.title=title


  .container-fluid.pt-2
    // LIST PRODUCTS START
    .card.shadow-css.p-3.mb-5
      .card-body
        h2.card-title.pb-3 List Role
        .row
          .col-6
            .input-group
              input.form-control(type='file')
              button.btn.btn-success  + Import
              button.btn.btn-secondary  - Export
          .col-1
          .col-4
            form(
                action=""
                form-find
              ) 
                .input-group
                  input.form-control(
                    type="text"
                    placeholder="Find ..."
                    input-find
                  )
                  button.btn.btn-primary(
                    type="submit"
                    btn-find
                  ) <i class="fa-solid fa-magnifying-glass"></i> Find
          .col-1
            a.btn.btn-primary(href=`${prefixAdmin}/role/create`)  + New
        .row.p-2.mt-3
          table.table-css.mb-5(checkbox-multi)
            thead
              tr
                td(scope='col') #
                td(scope='col') Title
                td(scope="col") Description
                td(scope='col') Action
            tbody
              each item, index in role 
                tr 
                  th(scope='row' style="padding: 0px 20px") #{index + 1}
                  td=item.title
                  td
                    div.description(style="width: 500px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;")=item.description
                  td  
                    a(
                        href=`${prefixAdmin}/role/read/${item.id}`
                        class='btn btn-primary btn-sm p-2 m-2'
                        style="font-size: 0.9rem"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        data-bs-offset="0,10"
                        data-bs-custom-class="custom-tooltip"
                        title="Read"
                    ) <i class="fa-brands fa-readme"></i>
                    a(
                      href=`${prefixAdmin}/role/edit/${item.id}`
                      class='btn btn-warning btn-sm p-2 m-2'
                      style="font-size: 0.9rem"
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      data-bs-offset="0,10"
                      data-bs-custom-class="custom-tooltip"
                      title="Edit"
                    ) <i class="fa-solid fa-pen-to-square"></i>
                    button(
                      class='btn btn-danger btn-sm p-2 m-2'
                      button-delete
                      data-id=item.id
                      style="font-size: 0.9rem"
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top"
                      data-bs-offset="0,10"
                      data-bs-custom-class="custom-tooltip"
                      title="Delete"
                    ) <i class="fa-regular fa-trash"></i>
                    


        .row
          .col-10
            nav(aria-label='Page navigation example')
              ul.pagination
                li.page-item
                  button.page-link(page-pagination=pagination.currentPage-1)
                    span(aria-hidden='true') &laquo;
                - for(let i = 1; i <= pagination.totalPage; i ++) 
                  li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button.page-link(page-pagination=i) #{i}
                li.page-item
                  button.page-link(page-pagination=pagination.currentPage+1)
                    span(aria-hidden='true') &raquo;
          .col
            form(
              action=""
              form-number-items-page
            )
              select.form-select(name='numberItemPage' select-number-items-page)
                - for (let i = 4; i <= 10; i += 2)
                  option(value=i selected=(pagination.limitItem == i ? true : false)) #{i} items per page


  form(
    action=""
    method="POST"
    id = 'form-delete'
    data-path = `${prefixAdmin}/role/delete-role`
  ) 
              
    // LIST PRODUCTS END
  script(src="/js/admin/pagination.js")
  script(src="/js/admin/deleteProduct.js")
  script(src="/js/admin/fontend/findRole.js")

