extends ../../layout/default.pug
include ../../mixins/modal.pug

block main 

  link(rel="stylesheet", href="/css/admin/products/modal.css")
  if (role.permissions.includes('blog-category_view'))

    h1.title=title


    .container-fluid.pt-2
      // FILTER START
      .card.shadow-css.p-3.mb-5
        form(action='' form-filter)
          .card-body
            h2.card-title.pb-3 Filter
            .row
              .col-4
                label.form-label(for='filter-name') Filter name: 
                input.form-control(type='text' placeholder="Input name ..." id="filter-name")
              .col-4
                label.form-label(for='filter-active') Filter active: 
                select.form-select(name='' id='filter-active')
                  option(value="") All
                  option(value="active") Active 
                  option(value="inactive") Inactive   
              .col-4
                label.form-label(for='filter-sort') Filter sort: 
                select.form-select(name='' id='filter-sort')
                  option(value="") Sort 
                  option(value="position-desc") Vị trí giảm dần  
                  option(value="position-asc") Vị trí tăng dần
            .row.mt-2
              .col-3
                button.btn.btn-primary(type="submit" btn-filter)
                  <i class="fa-solid fa-filter mr-1" style="border: none"></i> Filter
      // FILTER END
      // LIST PRODUCTS START
      .card.shadow-css.p-3.mb-5
        .card-body
          h2.card-title.pb-3 List Prodcuts Category
          if (role.permissions.includes('blog-category_edit'))
            .row
              .col-6
                .input-group
                  input.form-control(type='file')
                  button.btn.btn-success  + Import
                  button.btn.btn-secondary  - Export
              .col-1
              .col-4
                form(
                  action=`${prefixAdmin}/blog-category/change-multi?_method=PATCH`
                  method="POST"
                  form-change-multi
                )
                  .input-group
                    select.form-select(name='type' id='')
                      option(disable selected) Choose active
                      option(value="active") Active 
                      option(value="inactive") Inactive 
                      if (role.permissions.includes('blog-category_delete'))
                        option(value="delete") Delete
                      option(value="position") Sort position 
                    input(
                      type="text"
                      name="ids"
                      value=""
                      class="form-control"
                      class="d-none"
                    )
                    button.btn.btn-primary(type="submit") Apply Action 
              .col-1
                if (role.permissions.includes('blog-category_create'))
                  a.btn.btn-primary(href=`${prefixAdmin}/blog-category/create`)  + New
          .row.p-2.mt-3
            table.table-css.mb-5(checkbox-multi)
              thead
                tr
                  if (role.permissions.includes('blog-category_edit'))
                    td 
                      input(type="checkbox" name="checkall")
                  td(scope='col') #
                  td(scope='col') Image
                  td(scope='col') Category
                  td(scope="col") Parent Category
                  td(scope='col') Position
                  td(scope='col') Status
                  td(scope='col') Action
              tbody
                each item, index in newRecord
                  tr 
                    if (role.permissions.includes('blog-category_edit'))
                      td 
                        input(type="checkbox" name="id" value=item._id)
                    th(scope='row' style="padding: 0px 20px") #{index + 1}
                    td 
                      img(src=item.thumbnail alt=item.title width='100px' class="img-thumbnail")
                    td=item.title
                    td #{item.level === 1 ? "Root" : item.fullPath}      
                    if (role.permissions.includes('blog-category_edit'))              
                      td 
                        form(
                          action="" 
                          form-change-position
                          method="POST"
                          data-path=`${prefixAdmin}/blog-category/change-position`
                        )
                          input(
                            change-position
                            type="text"
                            min="1"
                            name="position"
                            value=item.position 
                            idItem=item._id
                            class="form-control"
                            style="width: 50px; text-align: center"
                          ) 
                    else 
                      td.text-center=item.position
                    if (role.permissions.includes('blog-category_edit'))  
                      td 
                        if(item.status == "active")
                          a(
                            href="javascript:;" 
                            btn-change-status
                            itemStatus=item.status 
                            itemId=item._id
                            class='badge badge-success p-2'
                            style="font-size: 0.9rem"
                          ) Active
                        else 
                          a(
                            href="javascript:;" 
                            btn-change-status
                            itemStatus=item.status 
                            itemId=item._id
                            class='badge badge-danger p-2'
                            style="font-size: 0.9rem"
                          ) Inactive
                    else 
                      td 
                        if (item.status == "active")
                          p.text-success Active
                        else 
                          p.text-danger Inactive
                    td  
                      a(
                          href=`${prefixAdmin}/blog-category/read/${item._id}`
                          class='btn btn-primary btn-sm p-2 m-2'
                          style="font-size: 0.9rem"
                          data-bs-toggle="tooltip" 
                          data-bs-placement="top" 
                          data-bs-offset="0,10"
                          data-bs-custom-class="custom-tooltip"
                          title="Read"
                      ) <i class="fa-brands fa-readme"></i>
                      if (role.permissions.includes('blog-category_edit'))
                        a(
                          href=`${prefixAdmin}/blog-category/edit/${item._id}`
                          class='btn btn-warning btn-sm p-2 m-2'
                          style="font-size: 0.9rem"
                          data-bs-toggle="tooltip" 
                          data-bs-placement="top" 
                          data-bs-offset="0,10"
                          data-bs-custom-class="custom-tooltip"
                          title="Edit"
                        ) <i class="fa-solid fa-pen-to-square"></i>
                        if (role.permissions.includes('blog-category_delete'))
                          button(
                            class='btn btn-danger btn-sm p-2 m-2'
                            button-delete
                            data-id=item._id
                            style="font-size: 0.9rem"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top"
                            data-bs-offset="0,10"
                            data-bs-custom-class="custom-tooltip"
                            title="Delete"
                          ) <i class="fa-regular fa-trash"></i>
                        button(
                            class='btn btn-secondary btn-sm p-2 m-2'
                            style="font-size: 0.9rem"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            data-bs-offset="0,10"
                            data-bs-custom-class="custom-tooltip"
                            title="Statistical"
                            btn-show-statistical
                            data-product=JSON.stringify(item)
                          ) <i class="fa-solid fa-chart-bar"></i>  


          .row
            if (role.permissions.includes('product_delete'))
              .col-9
                nav(aria-label='Page navigation example')
                  ul.pagination
                    li.page-item
                      button.page-link(page-pagination=pagination.currentPage-1)
                        span(aria-hidden='true') &laquo;
                    - for(let i = 1; i <= pagination.totalPage; i ++) 
                      li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                        button.page-link(page-pagination=i) #{i}
                    li.page-item
                      button.page-link(page-pagination=pagination.currentPage+1)
                        span(aria-hidden='true') &raquo;
              .col-2
                form(
                  action=""
                  form-number-items-page
                )
                  select.form-select(name='numberItemPage' select-number-items-page)
                    - for (let i = 4; i <= 10; i += 2)
                      option(value=i selected=(pagination.limitItem == i ? true : false)) #{i} items per page
              .col-1
                a(
                  class='btn btn-dark sm p-2'
                  style="font-size: 0.9rem"
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top"
                  data-bs-offset="0,10"
                  data-bs-custom-class="custom-tooltip"
                  title="Trash"
                  href="/admin/blog-category/trash"
                ) <i class="fa-regular fa-trash"></i>
            else 
              .col-10
                nav(aria-label='Page navigation example')
                  ul.pagination
                    li.page-item
                      button.page-link(page-pagination=pagination.currentPage-1)
                        span(aria-hidden='true') &laquo;
                    - for(let i = 1; i <= pagination.totalPage; i ++) 
                      li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                        button.page-link(page-pagination=i) #{i}
                    li.page-item
                      button.page-link(page-pagination=pagination.currentPage+1)
                        span(aria-hidden='true') &raquo;
              .col-2
                form(
                  action=""
                  form-number-items-page
                )
                  select.form-select(name='numberItemPage' select-number-items-page)
                    - for (let i = 4; i <= 10; i += 2)
                      option(value=i selected=(pagination.limitItem == i ? true : false)) #{i} items per page

    +modal()

    if (role.permissions.includes('blog-category_edit'))
      form(
        action=""
        method="POST"
        id = 'form-change-status'
        data-path = `${prefixAdmin}/blog-category/change-status`
      ) 

      form(
        action=""
        method="POST"
        id = 'form-delete'
        data-path = `${prefixAdmin}/blog-category/delete-category`
      ) 
                
      // LIST BLOG END
      script(src="/js/admin/changePosition.js")
      script(src="/js/admin/changeStatus.js")
      script(src="/js/admin/deleteProduct.js")
      script(src="/js/admin/fontend/modal.js")
    script(src="/js/admin/filter.js")
    script(src="/js/admin/pagination.js")
  else 
    h3.notFound Bạn không có quyền quản lý danh mục sản phẩm

