extends ../../layout/default.pug

block main 

  link(rel="stylesheet", href="/css/client/timer.css")

  - if (messages.error)
    div(
      class="notifications" 
      data-status="error" 
      data-mess= messages.error[0]
    )

  .auth-container
    //- ... (Phần Tabs giữ nguyên) ...
    .auth-tabs
      button#tab-login.tab-btn.active(
        style="width: 100%"
        onclick="switchTab('login')"
      ) Quên mật khẩu

    .form-content
      //- FORM ĐĂNG NHẬP
      #form-login.form-wrapper.active
        form(action=`/user/password/otp?email=${email}`, method="POST")
          .input-group
            input(type="text", name="otp", placeholder="Nhập OTP *", required)


          //- Nút này sẽ bị mờ do CSS, JS sẽ làm nó đậm lên
          button.submit-btn(type="submit") XÁC NHẬN
  
  script(src="/js/client/timer.js")


