extends ../../layout/default.pug

block main
  - var pageTitle = 'orders'
  link(rel="stylesheet", href="/css/client/user/layout.default.css")

  .user-dashboard-container
    include ../../partials/user-sidebar.pug

    .user-content
      .user-header
        h3 Lịch sử đơn hàng
      
      //- Tabs (nếu cần)
      //- div.tabs...
      //- div=orders
      .orders-list
        each order in orders
          .order-card
            .order-header
              span ##{order.code} - #{moment(order.createdAt).format("DD/MM/YYYY HH:mm")}
              span.status-badge 
                if order.status == "pending"
                  | Chờ xác nhận
                if order.status == "confirmed"
                  | Đã xác nhận
                if order.status == "shipping"
                  | Đang giao
                if order.status == "completed"
                  | Thành công
                if order.status == "cancelled"
                  | Đã huỷ
            .order-body
              each product in order.products
                .order-product
                  img(src=product.image alt=product.name)
                  .product-info
                    h5=product.name
                    .product-variant Size / #{product.size}
                    .product-price #{formatMoney(product.salePrice)}
                      span.old-price #{formatMoney(product.price)}
              

            .order-footer
              .total-money #{formatMoney(order.totalPrice)}
              button.btn-action Cần hỗ trợ