extends ../../layout/default.pug

block main 
  .container.section-p1
    //- THAY ĐỔI 1: Biến div thành form để bao trùm cả 2 cột
    form.checkout-layout(action="/checkout/order" method="POST")
      
      // --- CỘT TRÁI: THÔNG TIN GIAO HÀNG ---
      .shipping-info
        h2 Thông tin Giao hàng
        //- THAY ĐỔI 2: Xóa thẻ form.shipping-form cũ, giữ lại div hoặc xóa hẳn tùy CSS
        //- Ở đây mình giữ cấu trúc input, chỉ bỏ tag form con
        .shipping-form-content 
          input(type="text" name="fullName" placeholder="Họ và tên" required)
          .input-group
            input(type="email" name="email" placeholder="Email")
            input(type="text" name="phone" placeholder="Số điện thoại" required)
          input(type="text" name="address" placeholder="Địa chỉ nhà" required)
          .input-row-3
            select#province.form-control(name="province")
              option(value="") Chọn Tỉnh/Thành phố
            select#district.form-control(name="district")
              option(value="") Chọn Quận/Huyện
            select#ward.form-control(name="ward")
              option(value="") Chọn Phường/Xã
          input(type="hidden" name="province" id="provinceName")
          input(type="hidden" name="district" id="districtName")
          input(type="hidden" name="ward" id="wardName")
          textarea(name="note" placeholder="Ghi chú thêm (cơ quan làm việc, giao trong giờ hành chính)")

        h2 Phương thức thanh toán 
        label(for="cod") 
          .payment-method
            //- THAY ĐỔI 3: Thêm name và value cho radio button
            input(type="radio" id="cod" name="paymentMethod" value="COD" checked)
            img(src="/images/pay/cod.avif", alt="COD")
            span Thanh toán khi nhận hàng (COD)
        label(for="momo")   
          .payment-method
            input(type="radio" id="momo" name="paymentMethod" value="MOMO")
            img(src="/images/pay/momo.avif", alt="Momo")
            span Ví Momo

      // --- CỘT PHẢI: GIỎ HÀNG ---
      .cart-summary
        .section-title
          i.fa-solid.fa-cart-shopping
          h2 Giỏ Hàng
        
        each product in cart.products
          .product-item
            img(src=product.image alt=product.name)
            .product-details
              a(href=`/products/detail/${product.slug}`) 
                h3=product.name
              p Size / #{product.size}
              .quantity-controls
                .counter
                  //- Nút cộng trừ cần type="button" để không submit form
                  button.btMinus(type="button")
                    <i class="fa-solid fa-minus"></i>
                  input(type="text" value=product.quantity name='quantity' product-id=product.productId product-size=product.size readonly)
                  button.btnPlus(type="button")
                    <i class="fa-solid fa-plus"></i>
                a.btn-delete(href=`/cart/delete/${product.productId}/${product.size}`) 
                  i.fa-regular.fa-trash-can
                  | Xóa
            .product-price #{formatMoney(product.subtotal)}

        .promo-code
          div
            i.fa-solid.fa-ticket
            span Mã Giảm Giá:
          div
            //- THAY ĐỔI 4: Thêm name cho voucher
            input(type="text" name="voucherCode" placeholder="Nhập mã giảm giá")
            //- Quan trọng: Nút áp dụng phải là type="button" để không gửi đơn hàng
            button(type="button" id="btn-apply-voucher") Áp dụng

        .section-title
          i.fa-solid.fa-box-open
          h2 Chi Tiết Đơn Hàng

        .price-lines
          .line
            span Tạm tính
            span #{formatMoney(cart.totalPrice)}
          .line
            span Phí giao hàng
            span Miễn phí
          .line
            span Voucer giảm giá
            span 0đ
        
        .total-section
          span Tổng
          .total-amount
            p.main-price #{formatMoney(cart.totalPrice)}
            p.discount-note (Đã giảm trên giá gốc: 0đ)

        //- THAY ĐỔI 5: Nút này sẽ kích hoạt submit toàn bộ form bao quanh
        button.btn-submit(type="submit") Đặt hàng