.navigation
  ul
    li
      a(href='#')
        span.icon
          ion-icon(name='bag-handle-outline')
        span.title  Tenclothes 
    if (role.permissions.include(""))
    li
      a(href=`${prefixAdmin}/dashboard`)
        span.icon
          ion-icon(name='home-outline')
        span.title  Dashboard 
    li
      a(href=`${prefixAdmin}/products`)
        span.icon
          ion-icon(name='storefront-outline')
        span.title Products
    li
      a(href=`${prefixAdmin}/products-category`)
        span.icon
          ion-icon(name='grid-outline')
        span.title Product Cat
    li
      a(href=`${prefixAdmin}/promotions`)
        span.icon
          ion-icon(name='volume-high-outline')
        span.title Promotions
    li
      a(href=`${prefixAdmin}/blog`)
        span.icon
          ion-icon(name='book-outline')
        span.title Blog
    li
      a(href=`${prefixAdmin}/bloc-category`)
        span.icon
          ion-icon(name='layers-outline')
        span.title Blog Cat
    li
      a(href=`${prefixAdmin}/role`)
        span.icon
          ion-icon(name='help-outline')
        span.title Role
    li
      a(href=`${prefixAdmin}/role/permission`)
        span.icon
          ion-icon(name='settings-outline')
        span.title Permission
    li
      a(href=`${prefixAdmin}/accounts`)
        span.icon
          ion-icon(name='person-outline')
        span.title Accounts
    li
      a(href=`${prefixAdmin}/auth/logout`)
        span.icon
          ion-icon(name='exit-outline')
        span.title Sign Out

